.col-md-10 {
  display: flex;
  flex-direction: column;
    /*max-width: 400px;  Assuming mobile view */
    margin: 0;
    padding-left: 0
}

.col-md-10{
  width: 83.33%;
  margin-left: 16.67%;
}

.row{
  width: 100%;
height: 100%;
}

.course-content{
  display: flex;
}
header {
  text-align: center;
  padding: 20px;
}

.table td, .table th {
  text-align: center;
  color: #032540;
}

.header-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
}

.header-container .col.d-flex.justify-content-end i {
  cursor: pointer;
  margin-left: 20px; /* Adjust the value as needed */
}

/* Add margin to the first icon to ensure it's not too close to the edge */
.header-container .col.d-flex.justify-content-end i:first-child {
  margin-left: 0; /* No margin for the first icon */
}

.header-container .col.d-flex.justify-content-end i:hover {
color: #02AEEE; /* Change icon color on hover */
transform: scale(1.2); /* Slightly increase the size on hover */
transition: transform 0.2s, color 0.2s; /* Smooth transition for the effects */
}
/*search bar*/
.searchbar{
display: flex;
height: 20px;
background-color: #ffffff;
border-radius: 20px;
color: rgba(3, 37, 64);
align-items: center;
}

.searchbar i{
color: #032540;
}

.searchbar:hover input{
width: 150px;
border: 1px solid #02AEEE;
border-radius: 50px;
color: #032540;
}

.searchbar input{
width: 0;
outline: none;
border: none;
transition: 0.5s;
background: transparent;
}
/*search bar*/
/*
main {
  margin: 20px;
}
*/
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5vw;
}

th, td {
  padding: 8px;
  text-align: left;
}

td i {
color: rgba(0, 37, 64, 0.6);
transition: color 0.3s ease; /* Smooth transition for color change */
}

td i:hover {
color: #02AEEE;
}



th {
  font-weight: 500;
  color: rgba(3, 37, 64, 0.6); /* 0.6 represents 60% opacity */
}
.table th {
color:rgba(0, 37, 64, 0.6); 
}

.table {
border-collapse: collapse; /* Ensures borders are drawn between cells */
}

.table tbody tr {
border-bottom: 1px solid #ccc; /* Gray 1px bottom border */
}

.table:hover tbody tr {
background-color: #eee; /* Hover effect with light gray background */
}


@media screen and (max-width: 500px) {
  .sidenav a {
    float: none;
    display: block;
  }
}


