/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #032540;
  font-size: 12vw; /* Set a base font size */
  line-height: 1.2vh; /* Base line height */
}
  .container-fluid{
    height: 100vh;
  }
/*sidenav styles*/

.col-md-2{
  justify-content: space-between;
  
}

.avtr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 3vh;
  color: #032540;
}
#user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashicon-class{
  width: 1.5vw;
  height: 2.6vh;
}

.FAQ-class{
  width: 1.5vw;
  height: 2.6vh;
}

.sidenav #name {
  font-size: 1.5vw; /* Adjust the font size as needed */
}

.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  background-color: transparent;
  height: 100vh;
  width: 15%;
  overflow: hidden;
  padding: 0;
  gap: 2.4vh;
  box-shadow: 0 2px 4px rgba(204, 202, 202, 0.1);
}

.sidenav a {
  padding: 1vw 1vh;
  font-size: 1.3vw;
  font-weight: 400;
  justify-content: space-between;
  color: #032540;
  text-decoration: none;
  border-radius: 30px; 
  transition: border-color 0.3s ease-in-out;
}

.sidenav a:hover {
  background-color: #ffffff;
  border: 2px solid #02AEEE;
  border-radius: 30px; 
}

.active {
  background-color: #ffffff;
  border-radius: 30px; 
  border: 2px solid #02AEEE; /* Blue border for active state */
}


@media screen and (max-width: 500px) {
  .sidenav a {
    float: none;
    display: block;
  }
}  
/*sidenav styles*/
  .row{
    height: 100%;
  }

  .col-md-2, .col-md-7, .col-md-3 {
    height: 100%;
    overflow: hidden;

}
  
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  width: 100%;
  height: 100vh;
}

header .bi-person-plus{
  color: #032540;
}

header .bi-person-plus:hover {
  transform: scale(1.2); /* Increase size by 20% */
  color: #02AEEE;
}

/* First row - Stats and Notifications */
.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 50%;
  gap: 20px;
  width: 100%;
}

.stats, .notifications {
  flex: 1;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /*overflow: hidden;*/
}

.stats-card, .notifications-card {
  display: flex;
  padding: 20px;
  /* min-height: 150px; Shorter height for cards */
}

.notifications-card{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.notification-item{
  display: block;
  width: 100%;
  flex-direction: column;
/*  justify-content: flex-start;
  align-items: center;*/
  height: 40px;
  padding: 10px 15px;
  margin-bottom: 2px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: #032540;
  border-radius: 20px;
  /*height: 20%;*/
}

.megaphone-image{
  width: 25px;
  height: 25px;
}

/* Stats card content */
.statscard-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.graphimage {
  display: flex;
  object-fit: contain; /* Adjusted image size */
  width: 25vw;
  margin-right: 5px;
}

.statscard-title h5 {
  margin: 0;
  object-fit: contain;
  text-align: center;
  color: #032540;
}

#new-textnum {
  font-size: 36px; /* Adjusted text size */
  color: #032540;
  text-align: center;
}

#checkedin-textnum {
  font-size: 36px; /* Adjusted text size */
  color: #032540;
  text-align: center;
}

#notcheckedin-textnum {
  font-size: 36px; /* Adjusted text size */
  color: #032540;
  text-align: center;
}

.statscard-row2{
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.stats-col{
  display: flex;
  flex-direction: column;
}

/* Notifications card content */
.notifications-card .card-body {
  padding: 0;
}

.notifications-card .card-title {
  font-size: small;
  justify-content: flex-end;
  color: #032540;
  margin-bottom: 10px;
}

.card-text {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  color: #555;
}

.notf-header{
  display: flex;
  flex-direction: row;
  /*align-items: flex-start;*/
  margin-bottom: 3px;
  font-size: smaller;
  align-items: center;
}

.notf-menu-ttl{
  font-size: small;
  flex: 1;
  margin: 0;
}

.notf-menu-txt{
  font-size: smaller;
  margin: 0; /* Removes any default margin */
  line-height: 1.4; /* Adjusts line height to reduce space between lines */
}

.card-body h5{
float: inline-start;
}

header h5{
  font-size: 2.5vw;
}

.dashboard-content {
    padding: 20px;
}
/*shadowing*/
.stats, .notifications{
    box-shadow: #36363640;
}

/*cards*/
.stats, .notifications, .calendar, .schedule, .new-students {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.statistics h3, .notifications h3, .calendar h3, .schedule h3, .students-progress h3 {
    margin-bottom: 10px;
}


.new-students {
  font-size: small;
  overflow-y: auto;
}

.active-dot {
  height: 10px;
  width: 10px;
  background-color: #97D444;
  ; /* Green color */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}

.Inactive {
  height: 10px;
  width: 10px;
  background-color: #ffffff; /* Green color */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}


.txt-prog{
    display: flex;
    justify-content: flex-start;
    border-bottom-color: #032540;
}

.txt-prog h6{
  font-size: 2vw;
}

.statscard-row{
display: flex;
flex-direction: row;
width: 100%;
height: 60%;
/*object-fit: contain;*/

}

.graphimage {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 100%;

}

.statscard-title{
    justify-content: center;
    align-content: baseline;
    color: #032540;
    font-size: 30px;
    font-weight: 300;
}

.card-textnum{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    align-content: center;
    margin-top: 5px;
    color: #032540;
}

.card-textdes{
    font-size: medium;
    text-align: center;
    color: #888;
}

.prog-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.icon-prog i{
  margin-right: 10px;
  cursor: pointer;
}

.icon-prog i :hover{
  color: #02AEEE;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.notification-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notification-header span {
  font-weight: 500;
}

.notification-header a {
  color: #02AEEE;
  text-decoration: none;
}

.notification-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notification-item {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  height: 55px;
}

.notification-icon {
  margin-right: 10px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.notification-sender, .notification-title, .notification-message {
  margin: 0;
  padding: 0;
}

.notification-message {
  color: #888;
  font-size: 14px;
}

.notification-message a {
  color: #02AEEE;
  text-decoration: none;
}

/* col-md-3*/
.col-md-3{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
  padding: 8px;
}

.main-sessions, .todays-schedule {
  margin-bottom: 20px;
}

.todays-schedule ul {
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

time {
  font-weight: 400;
  margin-right: 5px;
}

.bi-chevron-right {
  margin-left: auto;
}

.col-md-3 .main-sessions ul li,
.col-md-3 .todays-schedule ul li {
  display: flex;
  justify-content: space-between;
}

.col-md-3 .main-sessions ul li i,
.col-md-3 .todays-schedule ul li i {
  color: #555;
}

.col-md-3 .main-sessions ul li i:hover,
.col-md-3 .todays-schedule ul li i:hover {
  color: #02AEEE;
}

.row-col{
  display: flex;
  flex-direction: column;
}

.bi-geo-alt {
  color: #02AEEE;
}

.statscard-row2 .stats-col{
  font-size: 10vw;
}

.main-content header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content header h5{
display: flex;
justify-content: flex-start;
}

.main-content header p{
    display: flex;
    justify-content: flex-end;
   
}

.todays-schedule{
  overflow-y: auto;
} 

.table {
  font-size: 1vw;
  line-height: 1.5vh;
}

/* Alternatively, target specific elements within the table 
.table th,
.table td {
  font-size: 16px;
}*/