header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.add-icon{
  margin-top: 25px;
  width: 15px;
  height: 15px;
}

.faq-item {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}

.faq-item .ans-i a:hover i {
  color: #02AEEE;
}

.question-mark{
    width: 25px;
    height: 25px;
}


.faq-item .question {
    display: flex;
    align-items: center;
    color: #032540;
    cursor: pointer;
}

.faq-item .question i {
    margin-right: 10px;
} 

.faq-item .icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;  
    position: absolute;
    right: 10px;
    top: 10px;
}

.faq-item .icons i {
  cursor: pointer;
  margin-right: 10px;
  color: #6c757d;
}

.faq-item .icons i:hover {
  color: #02AEEE;
}

.faq-item .answer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    color: #666;
    display: none; /* Initially hidden */
}

/*middle column*/

/*right column*/ 

form h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

form .form-control {
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

form .btn {
    background-color: #02AEEE;
    border: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.col-md-5 h6{
    margin-top: 25px;
    font-weight: bold;
}
.faq-item .answer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    color: #666;
    position: relative;
}

.question-toggle {
    cursor: pointer;
  }
  
  .question-toggle:hover {
    color: #02AEEE;
    transform: rotate(90deg);
  }
  
  .question-toggle.active {
    transform: rotate(90deg);
  }
  
   .answer {
    display: none;
  }
  
  .answer.active {
    display: block;
  }

/* Right Column */
form h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

form .form-control {
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

.bbgman{
    max-width: 100%;
    height: 250px;
    margin-top: 20px;
}

.btn-primary{
    background-color: #ffffff;
    color: #02AEEE;
    border: 1px solid #02AEEE;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .faq-item .question i {
        margin-right: 5px;
    }
}