.col-md-10 {
    margin: 0;
    padding: 10px;
}

form{
    justify-content: center;
}

/*
.dropdown-toggle i {
  margin-left: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 16px;
}

.dropdown-toggle:hover i {
  color: #02AEEE;
  transform: rotate(90deg);
}
*/

.btn-primary {
  margin-top: 40px;
  margin-right: 20px;
  background-color: #ffffff;
  border-color: #02AEEE;
  color: #02AEEE;
  width: 150px;
  border-radius: 20px;
}


