/* Layout and Spacing Adjustments */
.col-md-10 {
    width: 87.33%;
    margin: 20px auto; /* Adds padding from navbar */
    padding: 20px;
    overflow-y: auto;
}

.header-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Evenly space header contents */
    align-items: center; /* Align vertically */
    width: 100%;
}

/* Ensuring consistent spacing and hover effects for icons */
.header-container .col.d-flex.justify-content-end i {
    cursor: pointer;
    margin-right: 10px; 
}

.header-container .col.d-flex.justify-content-end i:hover {
    color: #02AEEE; 
    transform: scale(1.2);
    transition: transform 0.2s, color 0.2s;
}

.col.d-flex.justify-content-end a {
    margin-left: 10px;
}

.notification-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.notification-content {
    flex-grow: 1;
    padding-left: 15px; /* Creates space between icon and content */
}

/* Initials Icon Styling */
.initials-icon {
    background-color: #099bdd; /* Default color */
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    flex-shrink: 0;
}

.notification-title {
    font-size: 16px;
    color: #000;
    margin: 0;
}

.notification-description {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.notification-time {
    font-size: 12px;
    color: #999;
    margin-top: auto; /* Pushes it to the bottom of the container */
}

.masr {
    color: #02AEEE;
}

.masr:hover {
    color: #032540;
}

.nof-ttl {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align title and name in a row */
    gap: 10px;
}

/* Mobile adjustments */
@media screen and (max-width: 500px) {
    .sidenav a {
        float: none;
        display: block;
    }
}
