/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #032540;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem; /* Set a base font size */
  line-height: 1.2vh; /* Base line height */
}  
.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
  width: 16.67%;
  height: 100%;
  background-color: #f8f9fa; /* Add sidebar background if needed */
}

.col-md-10 {
  display: flex;
  flex-direction: column;
  width: 83.33%;
  margin-left: 16.67%;
  padding: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-field {
  flex: 1 1 30%; /* Adjusts for three columns */
  max-width: 30%; /* Each input field takes up about 1/3 of the row */
}

textarea#activity-description {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

form{
  display: flex;
}

.form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.schedule-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .schedule-form {
    margin-top: 20px;
  }

  .fields{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-control::placeholder {
    justify-content: center;
      margin-bottom: 8px;
  }

  
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #032540;
  }
  
  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #02AEEE;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ffffff;
  }