.col-md-10 {
    width: 80%;
    position: relative;
    /*max-width: 400px;  Assuming mobile view */
    margin: 0;
    padding-left: 0
}

.header-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-container .col.d-flex.justify-content-end i {
  cursor: pointer;
  margin-left: 30px; /* Adjust the value as needed */
}

/* Add margin to the first icon to ensure it's not too close to the edge */
.header-container .col.d-flex.justify-content-end i:first-child {
  margin-left: 0; 
}

.header-container .col.d-flex.justify-content-end i:hover {
color: #02AEEE; /* Change icon color on hover */
transform: scale(1.2); /* Slightly increase the size on hover */
transition: transform 0.2s, color 0.2s; /* Smooth transition for the effects */
}

.schedule-item {
    width: 100%;
    display: flex;
    align-items: flex-start; /* Align items at the start to avoid shifting */
    font-size: small;
    padding: 0;
    margin-bottom: 10px;
}

.schedule-item .data-time p {
    margin: 0;
    text-align: center;
}

.content-row {
    display: flex;
    flex-wrap: nowrap; /* Ensure that the content doesn't wrap */
}

#activity-location {
    font-size: xx-small;
    color: #02AEEE;
}

.Title {
    font-size: small;
}

.description {
    font-size: x-small;
    margin-top: 5px; /* Add margin to provide space between Title and description */
}

footer a i {
    color: #02AEEE;
    gap: 15px;
}

.data-time {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    width: 100%; /* Ensure the time section takes the full width */
}