* {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #032540;
}

.container-fluid {
    min-height: 150vh;
    display: flex;
    align-items: center;
}

.img-fluid {
    object-fit: contain;
    width: 250%; 
    height: 95vh;
}

.form-signin {
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

#h3-space{
    padding-left: 180px;
}

#messages{
    align-items: center;
}

.form-signin h3 {
    font-size: 2.75rem;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #032540;
}

.form-control {
    height: 55px; 
    width: 660px;
    border: 1.5px solid #40484e;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    color: black;
}

.toggle-password {
    cursor: pointer;
    color: black;
}

.btn-primary {
    border-radius: 19px; 
    background-color: #02AEEE;
    height: 60px;
    width: 200px;
    border: none;
    align-items: center;
    margin-left: 200px;
}

.btn-primary:hover {
    background-color: #032540;
}
