/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #032540;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 1rem; /* Set a base font size */
  line-height: 1.2vh; /* Base line height */
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.row{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}                                                                            

.col-md-2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}


.col-md-10{
  width: 83.33%;
  margin-left: 16.67%;
}

/*sidenav styles*/

.avtr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 3vh;
  color: #032540;
}
#user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashicon-class{
  width: 1.5vw;
  height: 2.6vh;
}

.FAQ-class{
  width: 1.5vw;
  height: 2.6vh;
}

.sidenav #name {
  font-size: 1.5vw; /* Adjust the font size as needed */
}

.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  width: 15%;
  overflow: hidden;
  padding: 0;
  gap: 2.4vh;
  box-shadow: 0 2px 4px rgba(204, 202, 202, 0.1);
}

.sidenav a {
  padding: 1vw 1vh;
  font-size: 1.3vw;
  font-weight: 400;
  justify-content: space-between;
  color: #032540;
  text-decoration: none;
  border-radius: 30px; 
  transition: border-color 0.3s ease-in-out;
}

.sidenav a:hover {
  background-color: #ffffff;
  border: 2px solid #02AEEE;
  border-radius: 30px; 
}

.active {
  background-color: #ffffff;
  border-radius: 30px; 
  border: 2px solid #02AEEE; /* Blue border for active state */
}

.col-md-10{
  display: flex ;
  flex-direction: column;
  margin-left: 16.67%;
}

.header-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .view-courses-link{
    cursor: pointer;
    align-items: flex-end;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .header-container .col.d-flex.justify-content-end i {
    cursor: pointer;
    margin-left: 30px; 
}

.header-container.add-icon{
  height: 24px;
}

.header-container .col.d-flex.justify-content-end i:first-child {
    margin-left: 30px; 
}

.header-container .col.d-flex.justify-content-end i:hover {
  color: #02AEEE;
  transform: scale(1.2); /* Slightly increase the size on hover */
  transition: transform 0.2s, color 0.2s; /* Smooth transition for the effects */
}

  h5 {
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc; 
    font-size: 36px;
    font-weight: bolder;
  }

/* Main content table styling */
.table-hover tbody tr:hover {
    background-color: rgba(3, 37, 64, 0.6);
}

.col-md-10{
  overflow-y: auto;
  overflow-x: hidden;
}

.header-container a {
  color: #032540;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.header-container a:hover {
  color: #02AEEE;
}


.table th{
  color: rgba(3, 37, 64, 0.6);
  font-weight: 400;
  font-size: 24px;
}

.table td {
  font-size: 10px; 
}

.table th, .table td {
    vertical-align: middle;
}

.bi-pencil, .bi-trash {
    cursor: pointer;
    margin-right: 10px;
    color: rgba(104, 145, 179, 0.6);
}

.bi-pencil:hover, .bi-trash:hover {
    color: #02AEEE;
}

/* Sidebar item styling */
.nav-link i {
    margin-right: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#search-input {
  transition: width 0.3s ease;
  width: 0;
  margin-left: 10px;
}

#search-input.active {
  width: 200px; /* Adjust the width as needed */
  margin-left: 10px;
}

.d-none {
  display: none;
}

/*search bar*/
.searchbar{
  display: flex;
  height: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  color: rgba(3, 37, 64);
  align-items: center;
}

.searchbar i{
  color: #032540;
}

.searchbar:hover input{
  width: 150px;
  border: 1px solid #02AEEE;
  border-radius: 50px;
  color: #032540;
}

.searchbar input{
  width: 0;
  outline: none;
  border: none;
  transition: 0.5s;
  background: transparent;
}
/*search bar*/

/* Responsive design */
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
}