.col-md-10{
  width: 83.33%;
  margin-left: 16.67%;
  display: flex ;
  flex-direction: column;
  margin-left: 16.67%;
  overflow-y: auto;
}

.header-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .view-courses-link{
    cursor: pointer;
    align-items: flex-end;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .header-container .col.d-flex.justify-content-end i {
    cursor: pointer;
    margin-left: 30px; 
}

.header-container.add-icon{
  height: 24px;
}

.header-container .col.d-flex.justify-content-end i:first-child {
    margin-left: 30px; 
}

.header-container .col.d-flex.justify-content-end i:hover {
  color: #02AEEE;
  transform: scale(1.2); /* Slightly increase the size on hover */
  transition: transform 0.2s, color 0.2s; /* Smooth transition for the effects */
}

  h5 {
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc; 
    font-size: 36px;
    font-weight: bolder;
  }

/* Main content table styling */
.table-hover tbody tr:hover {
    background-color: rgba(3, 37, 64, 0.6);
}

.col-md-10{
  overflow-y: auto;
  overflow-x: hidden;
}

.header-container a {
  color: #032540;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.header-container a:hover {
  color: #02AEEE;
}


.table th{
  color: rgba(3, 37, 64, 0.6);
  font-weight: 400;
  font-size: 50px;
}

.table td {
  font-size: 3vw; 
}

.table th, .table td {
    vertical-align: middle;
}

.bi-pencil, .bi-trash {
    cursor: pointer;
    margin-right: 10px;
    color: rgba(3, 37, 64, 0.6);
}

.bi-pencil:hover, .bi-trash:hover {
    color: #02AEEE;
}

/* Sidebar item styling */
.nav-link i {
    margin-right: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#search-input {
  transition: width 0.3s ease;
  width: 0;
  margin-left: 10px;
}

#search-input.active {
  width: 200px; /* Adjust the width as needed */
  margin-left: 10px;
}

.d-none {
  display: none;
}

/*search bar*/
.searchbar{
  display: flex;
  height: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  color: rgba(3, 37, 64);
  align-items: center;
}

.searchbar i{
  color: #032540;
}

.searchbar:hover input{
  width: 150px;
  border: 1px solid #02AEEE;
  border-radius: 50px;
  color: #032540;
}

.searchbar input{
  width: 0;
  outline: none;
  border: none;
  transition: 0.5s;
  background: transparent;
}
/*search bar*/

/* Responsive design */
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
}