{% extends 'base.html' %}

{% load static %}

{% block title %} G9 Create {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_parent.css' %}">
{% endblock %}

{% block content %}
 <div class="col-md-10">
    <form method="POST" action="{% url 'admin_add' %}">
        {% csrf_token %}
        <h4 class="d-flex justify-content-center">Parent/G9 Details</h4>

        <div class="form-row">
            <div class="fields">
                <div class="input-field">
                    <label for="user_type" class="form-label">User Type</label>
                    <select class="form-select" id="user_type" name="user_type" style="width: 300px;">
                        <option value="parent">Parent (Orientation Lead)</option>
                        <option value="admin">Admin (G9)</option>
                    </select>
                </div>
            </div>

            <div class="fields">
                <div class="input-field">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" style="width: 300px;">
                </div>
                <div class="input-field">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name" style="width: 300px;">
                </div>
            </div>

            <div class="fields">
                <div class="input-field">
                    <label for="gender" class="form-label">Gender</label><br>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="female" name="gender" value="Female" class="form-check-input">
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="male" name="gender" value="Male" class="form-check-input">
                        <label for="male" class="form-check-label">Male</label>
                    </div>
                </div>
            </div>

            <div class="fields">
                 <div class="input-field">
                    <label for="admissionNumber" class="form-label">Admission Number</label>
                    <input type="text" class="form-control" id="admissionNumber" name="admission_number" placeholder="eg. 24-0001" style="width: 300px;">
                 </div>
                 <div class="input-field">
                    <label for="course" class="form-label">Course</label>
                    <select class="form-select" id="course" name="course" style="width: 300px;">
                        {% for course in courses %}
                            <option value="{{ course.name }}">{{ course.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
            </div>

            <div class="fields">
                <div class="input-field">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phone_number" placeholder="eg. +2547 12 345 678" style="width: 300px;">
                </div>
                <div class="input-field">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@gmail.com" style="width: 300px;">
                </div>
            </div>
        </div>

        <div class="fields">
            <div class="input-field">
                <label for="campus" class="form-label">Campus</label><br>
                <div class="form-check form-check-inline">
                    <input type="radio" id="athi-campus" name="campus" value="Athi river" class="form-check-input">
                    <label for="athi-campus" class="form-check-label">Athi River</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="nbo-campus" name="campus" value="Nairobi" class="form-check-input">
                    <label for="nbo-campus" class="form-check-label">Nairobi</label>
                </div>
            </div>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>
{% endblock %}
