<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2">
                <div class="avtr">
                    <img src="{% static 'images/avatar.png' %}" alt="Avatar" id="user-avatar">
                    <div id="name">{{ request.user.first_name }} {{ request.user.last_name }}</div> 
                </div>
                <nav class="sidenav">
                    <a href="{% url 'dashboard' %}"><i><img src="{% static 'images/dashicon.png' %}" alt="dashicon" class="dashicon-class"></i> Dashboard</a> 
                    <a href="{% url 'activities' %}"><i class="bi bi-calendar2-week"></i> Schedule</a> 
                    <a href="{% url 'notifications' %}"><i class="bi bi-bell"></i> Notifications</a> 
                    <a href="{% url 'students_details' %}"><i><img src="{% static 'images/actv-students.png' %}" alt="FAQ icon" class="FAQ-class"></i> Students</a> 
                    <a href="{% url 'faqs' %}"><i><img src="{% static 'images/FAQ.png' %}" alt="dashicon" class="FAQ-class"></i> FAQ</a>
                    <br>
                    <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Log out</a> 
                </nav>
            </nav>

            <!-- Main Content -->
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                <!-- body that will change in different pages -->
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
