{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details Add{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/courses_add.css' %}">
{% endblock %}
 
{% block content %}
  <div class="col-md-10" style="
  display: flex;
  flex-direction: column;
  width: 83.33%;
  margin-left: 16.67%;
  height: 100vh;">
     {% if messages %}
            <div>
                {% for message in messages %}
                <div class="{% if message.tags %}alert {{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
    <form method="post" action="{% url 'courses_details_add' %}">
    {% csrf_token %}
    <h4 style="text-align: center; margin-top: 3vh;">Course Name</h4>
    <h5 style="text-align: flex-start;">Add a member</h5>
    <div class="form-row">
        <div class="fields" style="margin-bottom: 8vh;">
            <div class="input-field">
                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" style="width: 300px;">
            </div>
            <div class="input-field">
                <label for="lastName" class="form-label"></label>
                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name" style="width: 300px;">
            </div>
        </div>
        <div class="fields" style="margin-bottom: 8vh;">
            <div class="input-field">
                <label for="position" class="form-label">Title/Position</label>
                <input type="text" class="form-control" id="position" name="title" placeholder="eg. HOD" style="width: 300px;">
            </div>
            <div class="input-field">
                <label for="course" class="form-label">Course</label>
                <select class="form-select" id="course" name="course" style="width: 300px;">
                    {% for course in courses %}
                        <option value="{{ course.name }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="fields" style="margin-bottom: 8vh;">
            <div class="input-field">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phone_number" placeholder="eg. +2547 12 345 678" style="width: 300px;">
            </div>
            <div class="input-field">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@gmail.com" style="width: 300px;">
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button type="submit" class="btn-primary">Add HOD</button>
    </div>
</form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/courses.js' %}"></script>
{% endblock %}
