{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details Add{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/courses_add.css' %}">
{% endblock %}
 
{% block content %}
  <div class="col-md-10">
                <form>
                    <h4 style="text-align: center;">Course Name</h4>
                    <h5 style="text-align: flex-start;">Add a member</h5>
                    <div class="form-row">
                    <div class="fields">
                        <div class="input-field">
                            <label for="firstName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" style="width: 300px;">
                        </div>
                        <div class="input-field">
                            <label for="lastName" class="form-label"></label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" style="width: 300px;">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label for="position" class="form-label">Title/Position</label>
                            <input type="text" class="form-control" id="position" placeholder="eg. HOD" style="width: 300px;">
                        </div>
                        <div class="input-field">
                            <label for="course" class="form-label">Course</label>
                            <select class="form-select" id="course" style="width: 300px;">
                              <option value="ACS">ACS</option>
                              <option value="">DICT</option>
                              <option value="BSc">Acturial</option>
                              <option value="MSc">Biomed</option>
                              <option value="">Psychology</option>
                             
                              </select>
                          </div>
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="eg. +2547 12 345 678" style="width: 300px;">
                        </div>
                        <div class="input-field">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="name@gmail.com" style="width: 300px;">
                        </div>
                    </div>
                   
                </div>
                    <div class="btn-container">
                        <button type="submit" class="btn-primary">Update</button>
                    </div>
                </form>
            </div>
{% endblock %}
