{% extends 'base.html' %}

{% load static %}

{% block title %}Course Statistics{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/courses_stats.css' %}">
{% endblock %}
                
{% block content %}
  <div class="col-md-10">
                    <h4 class="text-center">Statistics</h4>
                    <div class="course-stats-header d-flex align-items-center">
                        <h5>Course</h5>
                        <div class="d-flex align-items-center">
                            <select class="form-select" id="courseSelect" style="background-color: #ffffff;width: 250px;color: #032540;">
                                <option selected>ACS</option>
                                <option value="Acturial">Acturial</option>
                                <option value="2">DICT</option>
                                <option value="3">Biomed</option>
                            </select>
                            <button class="btn btn-link print-btn ms-3"><i class="bi bi-printer"></i></button>
                        </div>
                    </div>
                    <div class="course-stats-content">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Total Students:
                                <span class="students-stats">300</span>
                            </li>
                            <li class="list-group-item">
                                Male:
                                <span class="male-stats">50</span>
                            </li>
                            <li class="list-group-item">
                                Female:
                                <span class="female-stats">200</span>
                            </li>
                            <li class="list-group-item">
                                Nairobi Campus:
                                <span class="nairobi-stats">50</span>
                            </li>
                            <li class="list-group-item">
                                Athi River Campus:
                                <span class="athi-stats">250</span>
                            </li>
                            <li class="list-group-item">
                                Dayscholar:
                                <span class="day-stats">200</span>
                            </li>
                            <li class="list-group-item">
                                Boarders:
                                <span class="boarders-stas">100</span>
                            </li>
                        </ul>
                    </div>
                </div>
{% endblock %}
