{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10">
 <div class="col-md-7"> 
    <div class="main-content">
        <header>
            <h6 style="font-size: 1.5rem;">Greetings {{ request.user.first_name }} </h6>
            <p style=" color: #032540; font-size: 1rem;">Add parent/g9 &nbsp;&nbsp;
                <a href="{% url 'admin_add' %}">
                    <i class="bi bi-person-plus" style="color: #032540; transform: scale(1.2); color: #02AEEE;" 
                       onmouseover="this.style.transform='scale(1.2)'; this.style.color='#02AEEE'" 
                       onmouseout="this.style.transform='scale(2)'; this.style.color='#032540'">
                    </i>
                </a>
            </p>
        </header>

        <div class="first-row">
            <div class="stats">
                <div class="statscard-body">
                    <div class="statscard-row">
                        <img src="{% static 'images/ascendinggraph.png' %}" alt="left image" class="graphimage">
                        <div class="statscard-title">
                            <a href="{% url 'courses_stats' %}"style="text-decoration: none;">
                                <h5 style="font-size: 2rem;">Statistics</h5>
                            </a>
                        </div> 
                    </div>
                    <div class="statscard-row2" style="margin-top: 2vh;">
                        <div class="stats-col">
                            <p id="new-textnum" style="font-size: x-large;">{{ new_students_count }}</p>
                            <p class="card-textdes" style="font-size: small;">New students</p>
                        </div>
                        <div class="stats-col">
                            <p id="checkedin-textnum" style="font-size: x-large;">{{ checked_in_count }}</p>
                            <p class="card-textdes" style="font-size: small;">Checked In</p>
                        </div>
                        <div class="stats-col">
                            <p id="notcheckedin-textnum" style="font-size: x-large;">{{ not_checked_in_count }}</p>
                            <p class="card-textdes" style="font-size: small;">Not Checked In</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="notifications">
                <div class="notification-header">
                    <span style="font-size: medium;">Recent notifications</span>
                    <a href="{% url 'notifications' %}" style="font-size: xx-small;">See all</a>
                </div>
                <div class="notification-list">
                    {% for notification in recent_notifications %}
                    <div class="notification-item">
                        <div class="notification-icon">
                            <i><img src="{% static 'images/whitebell.png' %}" alt="notficon" class="megaphone-image" style="background-color: #02AEEE;
     border-radius: 50%;"></i>
                        </div>
                        <div class="notification-content">
                            <p class="notification-title" style="font-size: x-small;">{{ notification.title }}</p>
                            <p class="notification-message" style="font-size: x-small;">
                                {{ notification.description|truncatewords:10 }} 
                                <a href="{% url 'notifications' %}?page={{ notification.page_number }}">See more</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="new-students">
            <div class="prog-row">
                <div class="txt-prog">
                    <h5>New students progress</h5>
                </div>
                <div class="icon-prog" style="display: flex; justify-content: flex-end;">
                     <form method="get" action="{% url 'dashboard' %}">
                <div class="searchbar">
                    <input type="text" name="search" placeholder="&nbsp; Search by Admission Number" value="{{ search_query }}">
                    &nbsp;
                    <button type="submit" style="background: none; border: none; padding: 0;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
                    <a href="{% url 'students_add' %}">
                    <i class="bi bi-person-plus" style="color: #032540; margin-top: 0.25vh; transform: scale(1.2);" 
                       onmouseover="this.style.transform='scale(1.2)'; this.style.color='#02AEEE'" 
                       onmouseout="this.style.transform='scale(2)'; this.style.color='#032540'">
                    </i>
                </a>
                </div>
            </div>
            <table class="table">
                <thead>                    
                    <tr>
                        <th>Admission Number</th>
                        <th>Full Name</th>
                        <th>Account Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in new_students %}
                    <tr>
                        <td>{{ student.admission_number }}</td>
                        <td>{{ student.first_name }} {{ student.last_name }}</td>
                        <td>
                            <span class="{% if student.checked_in %}active-dot{% else %}Inactive{% endif %}" 
                                  data-is-active="{{ student.checked_in }}"></span> 
                            {% if student.checked_in %}Active{% else %}Inactive{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not new_students %}
            <p>No students found matching your search.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="main-sessions">
        <p id="current-date" class="d-flex justify-content-center" style="font-size: 1.1vw;"></p>
        <h6 class="d-flex justify-content-center" style="font-size: medium;">Main Sessions</h6>
        <ul>
            {% for session in main_sessions %}
            <li>
                <time>{{ session.start_time|date:"h:i A" }}</time>
                <div class="row-col">
                    <span style="color: red; margin-bottom: 10px">{{ session.description }}</span>
                    <h6 style="font-size: x-small;color: #717576;">
                        <i class="bi bi-geo-alt" style="color: #02AEEE;"></i>{{ session.location }}
                    </h6>
                </div>
                <a href="{% url 'activities' %}"><i class="bi bi-chevron-right"></i></a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="todays-schedule">
        <h6 class="d-flex justify-content-center" style="font-size: medium;">Today's Schedule</h6>
        <ul>
            {% for activity in todays_schedule %}
            <li>
                <time>{{ activity.start_time|date:"h:i A" }}</time>
                <div class="row-col">
                    <span style="margin-bottom: 10px;">{{ activity.description }}</span>
                    <h6 style="font-size: x-small;color: #717576;">
                        <i class="bi bi-geo-alt" style="color: #02AEEE;"></i>{{ activity.location }}
                    </h6>
                </div>
                <a href="{% url 'activities' %}"><i class="bi bi-chevron-right"></i></a>
            </li>
            {% endfor %}
        </ul>
    </div>
 </div>
</div> 
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/dashtime.js' %}"></script>
    <script src="{% static 'js/scheduletime.js' %}"></script>
{% endblock %}
