<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2">
                <div class="avtr">
                    <img src="{% static 'images/avatar.png' %}" alt="Avatar" id="user-avatar">
                    <div id="name">Name</div>
                </div>
                <nav class="sidenav">
                    <a class="active" href="#"><i><img src="{% static 'images/dashicon.png' %}" alt="dashicon" class="dashicon-class"></i> Dashboard</a> 
                    <a href="schedule.html"><i class="bi bi-calendar2-week"></i> Schedule</a> 
                    <a href="notifications.html"><i class="bi bi-bell"></i> Notifications</a> 
                    <a href="students.html"><i class="bi bi-people"></i> Students</a> 
                    <a href="faq.html"><i><img src="{% static 'images/FAQ.png' %}" alt="dashicon" class="FAQ-class"></i> FAQ</a>
                    <br>
                    <a href="#"><i class="bi bi-box-arrow-right"></i> Log out</a> 
                </nav>
            </nav>
            
            <div class="col-md-7">
                <div class="main-content">
                    <div class="greetings">
                        <h3>Greetings</h3>
                    </div>
                    <div class="first-row">
                        <div class="stats">
                                <div class="statscard-body">
                                    <div class="statscard-row">
                                        <img src="{% static 'images/ascendinggraph.png' %}" alt="left image" class="graphimage">
                                   <div class="statscard-title">
                                    <h5>Statistics</h5></div> 
                                </div>
                                    <p id="card-textnum">327</p>
                                    <p class="card-textdes">New students</p>
                                </div>
                        </div>
                        <div class="notifications">
                            <div class="notifications-card">
                                <div class="card-body">
                                    <h5 class="card-title">Recent Notifications</h5>
                                </div>
                                <div class="notification-item">
                                    <div class="notf-header">
                                        <img src="{% static 'images/megaphone.png' %}" alt="img" class="megaphone-image">
                                        <div class="notf-menu-ttl">
                                        <h6>notification one</h6>
                                        </div>
                                    </div>
                                        <div class="notf-menu-txt">
                                        <p>Lorem ipsum dolor sit repellat dolore?</p>
                                        </div>
                                    
                                </div>
                                <div class="notification-item">
                                    <div class="notf-header">
                                        <img src="{% static 'images/megaphone.png' %}" alt="img" class="megaphone-image">
                                        <div class="notf-menu-ttl">
                                        <h6>notification two</h6>
                                        </div>
                                    </div>
                                        <div class="notf-menu-txt">
                                        <p>Lorem ipsum dolor sit amet con</p>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-students">
                        <div class="prog-row">
                            <div class="txt-prog">
                                <h5>New students progress</h5>
                            </div>
                            <div class="icon-prog">
                                <i class="bi-search"></i>
                                <i class="bi-person-plus"></i>
                            </div>
                        </div>
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Admission Number</th>
                                    <th>Full Name</th>
                                    <th>Account Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>24-0001</td>
                                    <td>First & Last name</td>
                                    <td><span class="active-dot" data-is-active="true"></span> Active</td>
                                </tr>
                                <tr>
                                    <td>24-0857</td>
                                    <td>First & Last name</td>
                                    <td><span class="Inactive" data-is-active="false"></span> Inactive</td>
                                </tr>
                                <tr>
                                    <td>24-1748</td>
                                    <td>First & Last name</td>
                                    <td><span class="active-dot" data-is-active="true"></span> Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="col-md-3">
                <div id="calendar">
                    <div id="calendar-header">
                        <span id="month-prev"></span>
                        <h6>September 2024</h6>
                        <span id="month-next"></span>
                    </div>
                    <div id="calendar-body">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        
                        <!-- Days of the month will go here -->
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <div>7</div>
                        <div>8</div>
                        <div>9</div>
                        <div>10</div>
                        <div>11</div>
                        <div>12</div>
                        <div>13</div>
                        <div>14</div>
                        <div>15</div>
                        <div>16</div>
                        <div>17</div>
                        <div>18</div>
                        <div>19</div>
                        <div>20</div>
                        <div>21</div>
                        <div>22</div>
                        <div>23</div>
                        <div>24</div>
                        <div>25</div>
                        <div>26</div>
                        <div>27</div>
                        <div>28</div>
                        <div>29</div>
                        <div>30</div>
                        <div>31</div>
            </div>
            </div>
            
                <div class="schedule">
                    <h6>Today's schedule</h6>
                    <ul>
                        <li data-time="8:00AM">Activity name</li>
                        <li data-time="10:00AM">Activity name</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </body>
</html>

