{% extends 'base.html' %}

{% load static %}

{% block title %}Notifications{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}

{% block content %}
  <div class="col-md-10">

            <div class="header-container">
                <div class="col d-flex justify-content-start">
                    <h4>Notifications</h4>
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="js/markallasread" class="masr">mark all as read</a>
                    <a href="send-notifications.html" style="color: rgba(3, 37, 64, 0.6);"><i class="bsi bi-pencil"></i></a>
                </div>
            </div>

            <div class="notification-item">
                <div class="initials-icon" data-initials="GC"></div>
                <div class="notification-content">
                    <div class="nof-ttl">
                    <p class="sender-name" style="color: #02AEEE;">Sender's Name</p>
                    <br>
                    <h4 class="notification-title">Title here</h4>
                </div>
                    <p class="notification-description">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Esse eum, suscipit expedita nesciunt vel consequuntur 
                        rerum culpa, tenetur dolores molestias, eaque quisquam molestiae non 
                        provident quae ipsa nostrum aliquid. Optio?</p>
                    <span class="notification-time">Time info</span>
                </div>
            </div>

            <div class="notification-item">
                <div class="initials-icon" data-initials="GC"></div>
                <div class="notification-content">
                    <div class="nof-ttl">
                    <p class="sender-name" style="color: #02AEEE;">Sender's Name</p>
                    <br>
                    <h4 class="notification-title">Title here</h4>
                </div>
                    <p class="notification-description">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Esse eum, suscipit expedita nesciunt vel consequuntur 
                        rerum culpa, tenetur dolores molestias, eaque quisquam molestiae non 
                        provident quae ipsa nostrum aliquid. Optio?</p>
                    <span class="notification-time">Time info</span>
                </div>
            </div>

            <div class="notification-item">
                <div class="initials-icon" data-initials="GC"></div>
                <div class="notification-content">
                    <div class="nof-ttl">
                    <p class="sender-name" style="color: #02AEEE;">Sender's Name</p>
                    <br>
                    <h4 class="notification-title">Title here</h4>
                </div>
                    <p class="notification-description">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Esse eum, suscipit expedita nesciunt vel consequuntur 
                        rerum culpa, tenetur dolores molestias, eaque quisquam molestiae non 
                        provident quae ipsa nostrum aliquid. Optio?</p>
                    <span class="notification-time">Time info</span>
                </div>
            </div>
            <!-- Repeat .notification-item for each notification -->
        </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/initialicons.js' %}"></script>
{% endblock %}
