{% extends 'base.html' %}

{% load static %}

{% block title %} Schedule {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10">
  <div class="header-container">
    <div class="col d-flex justify-content-start">
      <h4>Today's Schedule</h4>
    </div>
     {% if messages %}
            <div>
                {% for message in messages %}
                <div class="{% if message.tags %}alert {{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
    <div class="col d-flex justify-content-center">
      <p id="current-date"></p>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="csv-icon">
        <a href="{% url 'data_upload' %}"><img src="{% static 'images/paper-add.png' %}" alt="add-icon" class="add-icon"></a>
      </div>
      <div>
        <a href="{% url 'activities_add' %}" style="margin-left: 2vw;"><i class="bi bi-plus-lg"></i></a>
      </div>
    </div>
  </div>
  {% for activity in activities %}
  <div class="schedule-item">
    <div class="content-row row">
      <div class="col-2">
        <div class="data-time d-flex justify-content-start">
          <p id="activity-time">{{ activity.start_time|date:"g:i A" }}</p>
        </div>
      </div>
      <div class="col-10">
        <div class="activity-row">
          <div class="activity-location">
            <h6>{{ activity.location }}</h6>
          </div>
          <div class="Title">
            <h6>{{ activity.title }}</h6>
          </div>
          <div class="description">
            <p>{{ activity.description }}</p>
            <!-- Edit and Delete Icons -->
            <div class="action-icons" style="float: right;">
              <a href="{% url 'activities_edit' activity.id %}"><i class="bi bi-pencil" style="margin-left: 15px;"></i></a>
              <a href="{% url 'activities_delete' activity.id %}" onclick="return confirm('Are you sure you want to delete this activity?');"><i class="bi bi-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
    <p>No activities scheduled for today.</p>
  {% endfor %}
</div>
<div class="footer-container">
  <footer class="d-flex justify-content-center align-items-center py-3">
    {% if activities.has_previous %}
    <a href="?page={{ activities.previous_page_number }}"><i class="bi bi-chevron-left" style="color: #02AEEE;"></i></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if activities.has_next %}
    <a href="?page={{ activities.next_page_number }}"><i class="bi bi-chevron-right" style="color: #02AEEE;"></i></a>
    {% endif %}
  </footer>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/scheduletime.js' %}"></script>
{% endblock %}
