{% extends 'base.html' %}

{% load static %}

{% block title %} Schedule Edit {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/schedule_edit.css' %}">
{% endblock %}

{% block content %}
 <div class="col-md-10">
    <div class="schedule-header">
      <h2>Edit Schedule</h2>
    </div>
    <form method="POST" action="{% url 'activities_edit' activity.id %}">
      {% csrf_token %}
      <div class="form-row">
        <div class="fields">
          <div class="input-field">
            <label for="activity-date" class="form-label">Date</label>
            <input type="date" class="form-control" id="activity-date" name="date" value="{{ activity.date }}" style="width: 200px;">
          </div>
          <div class="input-field">
            <label for="activity-time" class="form-label">Time</label>
            <input type="time" class="form-control" id="activity-time" name="start_time" value="{{ activity.start_time }}" style="width: 200px;">
          </div>
          <div class="input-field">
            <label for="activity-duration" class="form-label">Duration (in hours)</label>
            <input type="number" class="form-control" id="activity-duration" name="duration" value="{{ activity.duration }}" style="width: 200px;">
          </div>
        </div>
        <div class="fields">
          <div class="input-field">
            <label for="activity" class="form-label">Type</label><br>
            <div class="form-check form-check-inline">
              <input type="radio" id="activity" name="is_session" value="False" class="form-check-input" {% if not activity.is_session %}checked{% endif %}>
              <label for="activity" class="form-check-label">Activity</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" id="session" name="is_session" value="True" class="form-check-input" {% if activity.is_session %}checked{% endif %}>
              <label for="session" class="form-check-label">Session</label>
            </div>
          </div>
        </div>
        <div class="fields">
          <div class="input-field">
            <label for="activity-name" class="form-label">Event/Session Name</label>
            <input type="text" class="form-control" id="activity-name" name="title" value="{{ activity.title }}" style="width: 300px;">
          </div>
        </div>
        <div class="fields">
          <div class="input-field">
            <label for="activity-location" class="form-label">Location</label>
            <input type="text" class="form-control" id="activity-location" name="location" value="{{ activity.location }}" style="width: 300px;">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="activity-description" class="form-label">Description</label>
        <textarea class="form-control" id="activity-description" name="description" rows="3">{{ activity.description }}</textarea>
      </div>
      <div class="btn-container" style="display: flex; justify-content: flex-end;">
        <button type="submit" class="btn btn-primary" style="background-color: #ffffff; color: #02AEEE;width: 150px; border-radius: 20px;border: 1px solid #02AEEE;">Update</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/scheduletime.js' %}"></script>
{% endblock %}
