{% extends 'base.html' %}

{% load static %}

{% block title %}Student Details{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10" style="width: 83.33%; margin-left: 16.67%; ">
    <div class="header-container" style="margin-bottom: 2vh; margin-top: 3vh;">
        <div class="col d-flex justify-content-start">
            <h4>Student details</h4>
        </div>
        {% comment %}
         {% if messages %}
            <div>
                {% for message in messages %}
                <div class="{% if message.tags %}alert {{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endcomment %}
        <div class="col d-flex justify-content-end">                                
            <div class="searchbar" style="margin-right: 20px;">
                <input type="text" placeholder="&nbsp; Search">
                &nbsp;
                <a href="#"><i class="bi bi-search"></i></a>
            </div>
            <a href="{% url 'students_add' %}"><i class="bi bi-person-plus"style="margin-right: 20px;"></i></a>
            <a href="{% url 'data_upload' %}"><i class="bi bi-file-earmark-plus add-icon"></i></a>
            <a href="{% url 'courses_details' %}" style="margin-left: 20px;">View courses</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Campus</th>
                <th scope="col">Admission</th>
                <th scope="col">Gender</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Accomm.</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Email</th>
                <th scope="col">Family</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for student in page_obj %}
            <tr>
                <td>{{ student.campus }}</td>
                <td>{{ student.admission_number }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.accomodation }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.parent.first_name }}</td>
                <td>
                    <a href="{% url 'students_edit' student.id %}"><i class="bi bi-pencil"></i></a>
                    <a href="{% url 'students_delete' student.id %}" onclick="return confirm('Are you sure you want to delete this student?');"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div> 
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
