{% extends 'base.html' %}

{% load static %}

{% block title %}Edit a Student{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_edit.css' %}">
{% endblock %}

{% block content %}
   <div class="col-md-10">
        <form method="POST">
            <h4 class="d-flex justify-content-center">Student Details</h4>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-container">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
{% endblock %}
