{% extends 'base.html' %}

{% load static %}

{% block title %} Upload Data {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10">
<h2 class="text-center" style="margin-bottom: 20vh;">Upload Data</h2>
       {% if messages %}
            <div>
                {% for message in messages %}
                <div class="{% if message.tags %}alert {{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
</div>
{% endblock %}
